div {
    font-size: 0px;
}

button {
    font-size: 30px;
    background-color: rgb(255, 104, 142);
    border: none;
    color: rgb(255, 185, 206);
    padding: 34px 40px;
    border: solid;
}

.nummerboks {
    font-size: 50px;
    color: rgb(255, 173, 193);
    height: 100px;
    width: 308px;
    background-color: rgb(255, 130, 161);
}


